{% extends "base.html" %}

{% block content %}
    <div class="column is-4 is-offset-4">

    <h1 class="title">
      Create New Customer
    </h1>
        <div class="box">
            <form method="POST" action="/customers/new">
                <div class="field">

                    <div class="control">
                        <input class="input is-large" type="text" name="company_name" placeholder="Customer Company Name" autofocus="">
                    </div>
                    <div class="control">
                        <input class="input is-large" type="email" name="email" placeholder="Customer Email Address" autofocus="">
                    </div>
                <div class="control">
                    <input class="input is-large" type="text" name="contact_number" placeholder="Customer Contact Number" autofocus="">
                </div>
            </div>

        <button class="button is-block is-info is-large is-fullwidth">Save</button>
        </form>
        </div>
    </div>
{% endblock %}