{% extends "base.html" %}

{% block content %}
    <div class="column is-4 is-offset-4">

    <h1 class="title">
        {% if customers %}
      Existing Customers
        {% else %}
            No Customers
        {% endif %}
    </h1>
        <div class="box">
            {% for customer in customers %}
                <b>{{ customer.company_name }} </b> | {{ customer.contact_number }} | {{ customer.email }}
            {% endfor %}
        </div>
    </div>
{% endblock %}