{% extends "base.html" %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h1 class="title">
          Modify Customer Details
        </h1>
        <div class="box">

            <form method="POST" action="/customers/update">
                <div class="field">
                    <input class="input is-large" type="hidden" name="cs_id" value="{{ customer.id }}" >
                    <div class="control">
                        <input class="input is-large" type="text" name="company_name" value="{{ customer.company_name }}" autofocus="">
                    </div>
                    <div class="control">
                        <input class="input is-large" type="email" name="email" value="{{ customer.email }}" autofocus="">
                    </div>
                    <div class="control">
                        <input class="input is-large" type="text" name="contact_number" value="{{ customer.contact_number }}" autofocus="">
                    </div>
            </div>

        <button class="button is-block is-info is-large is-fullwidth">Update</button>
        </form>
        </div>
    </div>
{% endblock %}