{% extends "base.html" %}

{% block content %}
    <div class="column is-4 is-offset-4">

    <h1 class="title">
      Search Customer
    </h1>
        <form method="GET" action="/customers/find">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="customer" placeholder="ID" autofocus="" value="">
                    </div>
            </div>
                    <button class="button is-block is-success is-large is-fullwidth">Search</button>
        </form>
        <hr>

    </div>
{% endblock %}