<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer Management System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Home
                            </a>
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('user_auth.get_login') }}" class="navbar-item">
                                Login Existing User
                            </a>

                            <a href="{{ url_for('user_auth.get_signup') }}" class="navbar-item">
                                Create new user account
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('user_auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.create_customer') }}" class="navbar-item">
                                Create New Customer
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.find_customer') }}" class="navbar-item">
                                Modify Existing Customer
                            </a>
                            {% endif %}

                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.display_customers') }}" class="navbar-item">
                                List Customers
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>