{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Customer Management System
</h1>
<h2 class="subtitle">
    <a href="{{ url_for('user_auth.get_login') }}" >
    Login Existing User
    </a> or
    <a href="{{ url_for('user_auth.get_signup') }}" >
    Create new user account
    </a>
    to manage your customer information
</h2>
{% endblock %}